/* .firstline{
font-weight: bolder;
font-size: x-large;
color: rgb(0, 0, 0);
text-align: center;
padding-bottom: 15px;
padding-top: 20px;
}
.image{
    display: block;
    margin:  0 auto;
    padding-top: 10px;
    border-radius: 10px;

    
}
.secondline{
text-align: center;
}
.ablue{
    background-color: rgb(194, 216, 236);
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px; 
    margin-top: 100px;
    
}
.white{
    display: block;
    margin: 0 auto;
    background-color: white;
    height: 500px;
    width: 330px;
    border-radius: 10px;
} */